<div class="flex-row gap-10">
  <div class="flex-row">
    <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

      <mat-card appearance="outlined" class="search-card">
        <mat-card-title class="todo-list-title">Todos</mat-card-title>
        <mat-card-content class="flex-col" >

          <div class="flex-row gap-10 flex-wrap">
            <mat-form-field class="input-field">
              <mat-label>Name</mat-label>
              <input matInput data-test="todoOwner" placeholder="Filter by name"
              [(ngModel)]="todoOwner" (input)="getTodosFromServer()">
              <mat-hint>Filtered on server</mat-hint>
            </mat-form-field>

            <mat-form-field class="input-field">
              <mat-label>Body</mat-label>
              <input matInput data-test="todoBody" placeholder="Filter by body contents"
              [(ngModel)]="todoBody" (input)="updateFilter()">
              <mat-hint>Filtered on client</mat-hint>
            </mat-form-field>
          </div>

          <div class="flex-row gap-10 flex-wrap">

            <mat-form-field class="input-field">
              <mat-label>Max Responses</mat-label>
              <input matInput data-test="maxResponseLimit" type="number" placeholder="Limit response count"
              min="1" max="200" [(ngModel)]="maxResponseLimit" (input)="updateFilter()">
              <mat-hint>Filtered on client</mat-hint>
            </mat-form-field>

            <mat-form-field class="input-field">
              <mat-label>Category</mat-label>
              <input matInput data-test="todoCategory" placeholder="Filter by category contents"
              [(ngModel)]="todoCategory" (input)="updateFilter()">
              <mat-hint>Filtered on client</mat-hint>
            </mat-form-field>
          </div>

          <div class="flex-row gap-10 flex-wrap">
            <label>Display: </label>
            <mat-radio-group aria-label="Status Filter" [(ngModel)]="statusFilter" data-test="statusFilter" (change)="updateFilter()">
              <mat-radio-button value="all">All</mat-radio-button>
              <mat-radio-button value="complete">Complete</mat-radio-button>
              <mat-radio-button value="todo">Todo</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-add-todo />

</div>

<div class="todo-cards-container">
  <app-todo-card *ngFor="let todo of filteredTodos" class="todo-card" [todo]="todo" fxFlex="1 1 280px"></app-todo-card>
</div>
<div *ngIf="!filteredTodos.length">
  <h2>No Todos Returned, Loosen Filter Requirements</h2>
</div>
